<%- include("partials/header"); -%>
<div class="container container-main">
	<h1>Guides</h1>
	<p><%=guideContent%></p>

	<div class="container">
		<div class="guide-example">
			<h3>Chore Chart Ideas for Kids Under 6</h3>
		<ul>
			<li>Pick up toys</li>
			<li>Tidy room</li>
			<li>Help adult with sweeping</li>
			<li>Brush teeth</li>
			<li>Comb hair</li>
			<li>Dusting</li>
		</ul>
		</div>
	</div>
	<div class="container">
		<div class="guide-example">
			<h3>Chore Chart Ideas for Kids 7-12</h3>
			<ul>
				<li>Wash and put away laundry</li>
				<li>Feed pets</li>
				<li>Vacuum floors</li>
				<li>Make lunch</li>
				<li>Carry out trash</li>
				<li>Put away dishes</li>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="guide-example">
			<h3>Chore Chart Ideas for Kids 13+</h3>
			<ul>
				<li>Clean bathroom</li>
				<li>Help with yard work</li>
				<li>Clean baseboards</li>
				<li>Mop kitchen floor</li>
				<li>Wash the car</li>
				<li>Clean out fridge</li>
			</ul>
		</div>
	</div>

	<div class= "container">
		<h3>Task rating guide:</h3>
		<p>These the ratings are intended to be a guide and can be used to rate chore difficulty as neccessery</p>
	<table class="table table-borderless guide-table">
		<thead>
		  <tr>
			<th scope="col">Rating</th>
			<th scope="col">Description</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<th scope="row">1</th>
			<td>0 min - 5 mins</td>
		  </tr>
		  <tr>
			<th scope="row">2</th>
			<td>5 min - 15 mins</td>
		  </tr>
		  <tr>
			<th scope="row">3</th>
			<td>15 min - 25 mins</td>
		  </tr>
		  <tr>
			<th scope="row">4</th>
			<td>25 min - 40 mins</td>
		  </tr>
		  <tr>
			<th scope="row">5</th>
			<td>0 min - 1 hr</td>
		  </tr>
		</tbody>
	  </table>
	</div>
	

	<p><%=guideContent2%></p>
	<a class="btn btn-add" href="./post/compose">Add Tasks</a>
</div>
	
		
<%- include("partials/footer"); -%>
<%- include("partials/scripts"); -%>
