<%- include('partials/header') %>
<div class="container my-5 login-container">
  <h1><%=title%></h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <form method='POST' action=''>
            <div class="form-group">
              
              <label for="username">Username:</label>
              <input class="form-control input-title" id="username" type='text' name='username' required value= "<%=undefined===user ? '' : user.username%>">
              
              <label for="password">Password:</label>
              <input class="form-control input-title" id="password" type='password' name='password' required>
              <button class="btn btn-add" type="submit">Submit</button>
              <a class="btn btn-secondary ms-3" href="/">Cancel</a>
            </div>
          </form>
          <p><small>Don't have an account? </small><a href="/users/register">Sign up</a> here.</p>
          <a href='/users/reset'> Forgot your password?</a>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
<%- include("partials/scripts"); -%>
